.app-header {
  text-align: center;
  background-color: hotpink;
  height: 4rem;
}

.cards-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}